/* 注册登录顶部 */

.tb-top-body {
    height: 88px;
    width: 100%;
    background: #ffffff;
}

.tb-top {
    height: 74.5px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 13.5px;
}

.tb-top-text {
    display: inline-block;
    width: 128px;
    height: 57px;
    overflow: hidden;
    float: left;
}

.tb-message i {
    color: red;
}

.tb-message {
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
    float: right;
    margin-top: 16px;
}

.tb-top>p {
    display: inline-block;
    width: 902px;
    height: 30px;
    line-height: 30px;
    color: #6c6c6c;
    background: #FEF2F2;
    text-align: center;
    border: 1px solid #FFB4A8;
    margin: 10px 0px 0px 80px;
}


/* 中部 */

.tb-center-body {
    width: 100%;
    height: 600px;
    background: rgb(249,179,187);
    background-image: url(../img/tb-lg-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

.tb-center {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.tb-bg-a {
    display: inline-block;
    width: 630px;
    height: 440px;
    margin: 70px;
}


/* 登录盒子1 */

.tb-dg-box {
    width: 350px;
    height: 350px;
    background: #F1E9E9;
    float: right;
    margin-top: 125px;
    margin-right: 50px;
}

#tb-computer-box {
    width: 52px;
    height: 52px;
    font-size: 45px;
    float: right;
    cursor: pointer;
    color: red;
}

.tb-dg-box>p {
    float: left;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 24px;
}

.qc-codebox {
    width: 140px;
    height: 140px;
    background: #fff;
    text-align: center;
    margin: 85px 0 0 105px;
}

.qc-codebox img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.login-box {
    width: 300px;
    height: 18px;
    line-height: 18px;
    margin: 10px 0px 0px 20px;
}

.login-box>a {
    float: right;
    padding-left: 10px;
}


/* 密码登录 */

.tb-dg-box2 {
    width: 350px;
    height: 350px;
    background: #FBEAEE;
    float: right;
    margin-top: 125px;
    margin-right: 50px;
    display: none;
}

#tb-qr-coder-box {
    width: 52px;
    height: 52px;
    font-size: 52px;
    float: right;
    cursor: pointer;
    color: red;
}

.tb-dg-box2>p {
    display: inline-block;
    width: 143px;
    height: 28px;
    float: right;
    margin: 8px 8px 0px 0px;
    line-height: 28px;
    background: #FEFCEE;
    text-align: center;
    font-size: 13px;
    color: #DF9C1f;
}

.tb-dg-box2 span {
    display: inline-block;
    width: 300px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    margin: -10px 0px 0px 23px;
    font-weight: 700;
}


/* 登录盒子 */

.mo-kj {
    width: 310px;
    height: 42px;
    margin-left: 24px;
    margin-top: 20px;
}

.mo-kj label {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #db69a2;
    border: 1px solid #db69a2;
    float: left;
}

.mo-kj .landingnamebox {
    width: 255px;
    height: 37px;
    float: left;
    border: 1px solid #db69a2;
    text-indent: 0.5em;
}

.mo-kj .landingwordbox {
    width: 255px;
    height: 37px;
    float: left;
    border: 1px solid #db69a2;
    text-indent: 0.5em;
}

.landingbottombox {
    width: 300px;
    height: 37px;
    background: #db69a2;
    border: 1px solid #db69a2;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}